* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body,
html {
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  height: 100vh;
}

.form-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.logo {
  width: 120px;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 20px;
  font-weight: normal;
}

form {
  width: 100%;
  max-width: 400px;
}

.name-group {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.name-group input {
  width: 50%;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.signup-btn {
  width: 100%;
  background-color: #0066ff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
}

.login-btn {
  width: 100%;
  background-color: black;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
  cursor: pointer;
}

.side-panel {
  flex: 1;
  background-color: #0066ff;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 20px;
}

.brand {
  color: white;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
}

input[type="file"] {
  margin-top: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  cursor: pointer;
  font-size: 14px;
  color: #333;
}

input[type="file"]::file-selector-button {
  background-color: #0066ff;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

input[type="file"]::file-selector-button:hover {
  background-color: #0052cc;
}
label {
  font-size: 14px;
  transition: color 0.3s ease;
  font-family: monospace;
}
select {
  margin-top: 4px;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
